@charset "utf-8";
*{margin: 0; padding: 0; border: 0;}
ul,li{list-style: none; margin: 0; padding: 0;}
a{text-decoration: none; color: black;}
.cf::after{
    content: '';
    display: block;
    clear: both;
}
body{font-family: "맑은 고딕", 돋움, sans-serif;}

/* 해더 */
#header{
    width: 1392px;
    height: 108px;
    margin: 0 auto;
    position: relative;
    z-index: 999; /* 추가 :배너보다 위에 있어야 함. */
}

#header h1{
    width: 180px;
    height: 68px;
    float: left;
    padding: 30px 0 0 0; /* 여백 수정 */
}

#header .nav{
    width: 1190px;
    height: 108px;
    float: right;
}

#header .nav>ul>li{
    position: relative; /* 부모요소를 메인메뉴로 설정 */
}

#header .nav > ul>li>a{ /* 대상 메인메뉴의 텍스트로 지정 */
    width: 170px;
    height: 35px;
    display: block;
    float: left;
    padding: 40px 0 60px 0;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
}

/* 서브1 */
#header .nav ul .li1 .sub{
    width: 210px;
    height: 240px;
    background: #fff7f7;
    position: absolute;
    top: 85px; /* 위치 메인메뉴 기준 */
    left: 0px; /* 위치 메인메뉴 기준 */
    border: 1px solid #000000;
    display: none;
    line-height: 40px;
    font-size: 1.0em;
}
/* 서브2 */
#header .nav ul .li2 .sub2{
    width: 210px;
    height: 280px;
    background: #fff7f7;
    position: absolute;
    top: 85px;
    left: 160px;
    border: 1px solid #000000;
    display: none;
    line-height: 40px;
    font-size: 1.0em;
}
/* 서브3 */
#header .nav ul .li3 .sub3{
    width: 210px;
    height: 80px;
    background: #fff7f7;
    position: absolute;
    top: 85px;
    left: 330px;
    border: 1px solid #000000;
    display: none;
    line-height: 40px;
    font-size: 1.0em;
}
#header .nav ul .li4 .sub4{
    width: 210px;
    height: 120px;
    background: #fff7f7;
    position: absolute;
    top: 85px;
    left: 500px;
    border: 1px solid #000000;
    display: none;
    line-height: 40px;
    font-size: 1.0em;
}
#header .nav ul .li5 .sub5{
    width: 210px;
    height: 200px;
    background: #fff7f7;
    position: absolute;
    top: 85px;
    border: 1px solid #000000;
    left: 670px;
    display: none;
    line-height: 40px;
    font-size: 1.0em;
}
#header .nav ul .li6 .sub6{
    width: 210px;
    height: 360px;
    background: #fff7f7;
    position: absolute;
    top: 85px;
    border: 1px solid #000000;
    left: 830px;
    display: none;
    line-height: 40px;
    font-size: 1.0em;
}
#header .nav ul .li7 .sub7{
    width: 210px;
    height: 200px;
    background: #fff7f7;
    position: absolute;
    top: 85px;
    border: 1px solid #000000;
    left: 1010px;
    display: none;
    line-height: 40px;
    font-size: 1.0em;
}

#header .nav ul .li1:hover .sub, 
#header .nav ul .li2:hover .sub2,
#header .nav ul .li3:hover .sub3,
#header .nav ul .li4:hover .sub4,
#header .nav ul .li5:hover .sub5,
#header .nav ul .li6:hover .sub6,
#header .nav ul .li7:hover .sub7{
    display: block;
}

#header .nav ul .li1 .sub::before,
#header .nav ul .li2 .sub2::before,
#header .nav ul .li3 .sub3::before,
#header .nav ul .li4 .sub4::before,
#header .nav ul .li5 .sub5::before,
#header .nav ul .li6 .sub6::before,
#header .nav ul .li7 .sub7::before
{
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50%,0);
    border-bottom: 10px solid rgb(0, 0, 0);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

#header .nav ul li ul li a{
    width: 190px;
    display: block;
    line-height: 40px;
    padding: 0 0 0 20px;
}

#header .nav ul li ul li a:hover{
    color: #ffffff;
    background-color: #000000;    
}


/* 배너 */
#banner{
    width: 100%;
    height: 620px;
    margin: 0 auto;
}
#banner .m_banner{
    width: 100%;
    height: 430px;
    background-color: #ffffff;
    background: url(../image/m_banner.png);
    background-size: cover;
}
#banner .m_banner ul{
    width: 1392px;
    height: 500px;
    margin: 0 auto;
}
#banner .m_banner ul li{
    float: left;
    margin-top: 125px;
    width: 252px;
    height: 357px;
    margin-right: 25px;
    position: relative; /* 추가 */
    top: 0; left: 0;  /* 추가 */
    z-index: 1;
    border: 3px solid transparent;  /* 추가 */
    transition: 0.8s ;
    cursor: pointer;
}
#banner .m_banner ul li:last-child{
    margin-right: 0;
}
#banner .m_banner ul li .box{
    display: block;
    width: 252px;
    height: 357px;
    background-color: rgba(0, 0, 0, 1);
    z-index: 2;
    position: relative;
}
#banner .m_banner ul li:hover .circle{
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    position: absolute;
    background-color: white;
    z-index: 1;
    top: 50%;
    left: 18%;
    transform: translate(0%,-50%);
    opacity: 0;
    text-align: center;
    line-height: 80px;
}

#banner .m_banner ul li:hover .circle{
    opacity: .8;
}
#banner .m_banner ul li .circle2{
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    position: absolute;
    background-color: white;
    z-index: 1;
    top: 50%;
    right: 18%;
    transform: translate(0%,-50%);
    opacity: 0;
    text-align: center;
    line-height: 80px;
}

#banner .m_banner ul li:hover .circle2{
    opacity: .8;
}

#banner .m_banner ul li span img{
    position: absolute;
    top: 0; left: 0;
    width: 252px;
    height: 357px;
    opacity: 1;
    transition: 0.3s ease-in-out;
}
#banner .m_banner ul li:hover img{
    opacity: 0.5;
}

#banner .m_banner ul li:hover:before{
    position: absolute;
    top: 0; left: 0;
    z-index: 333;
    content: '';
    display: block;
    border: 4px solid rgb(255, 255, 255);
    width: 252px;
    height: 357px;
    box-sizing: border-box;
}

#banner .title{
   clear: both;
   height: 140px;
   width: 1392px;
   margin: 0 auto;
}
#banner .title ul{
    float: left;
    width: 252px;
    height: 130px;
    margin-right: 31px;
    margin-left: 1px;
}
#banner .title ul:last-child{
    margin-right: 0;
}

#banner .title ul li h1, #banner .title ul li p{font-size: medium;}

/* 캘린더 */
#calendar{
    width: 1392px;
    height: 92px;
    margin: 0 auto;
}
#calendar ul{
    float: left;
    margin: 20px;
}
#calendar ul li{
    float: left;
}
#calendar .allow li{
    margin: 5px;
    margin-top: 0;
} 
#calendar ul li h1{
    font-size: xx-large;
}
#calendar .year{
    width: 80px;
    height: 40px;
    background-color: white;
    border-radius: 15px;
    margin-top: 27px;
    border: 1px solid black;
}
#calendar .year:hover{
    background-color: orangered;
    border: 1px solid transparent;
}
#calendar .year:hover p{
    color: #ffffff;
}
#calendar .year li p{
    line-height: 40px;
    font-weight: bold;
    text-align: center;
    margin-left: 8px;
}
#calendar .month{
    margin: 0 auto;
}
#calendar .month li{
    margin: 20px;
    width: 43px;
    height: 43px;
    background-color: white;
    border-radius: 25px;
    margin-top: 23px;    
    border: 1px solid black;
}
#calendar .month li span{
    display: block;
    height: 43px;
    width: 43px;
    line-height: 45px;
    text-align: center;
    font-weight: bold;
}
#calendar .month li:hover{
    background-color: orangered; 
    border: 1px solid transparent;
}
#calendar .month li:hover span{
    color: #ffffff;
}
/* 검색 */
#theater{
    width: 1392px;
    height: 92px;
    margin: 0 auto;
    background-color: rgb(240, 240, 240);
    border-bottom: 2px solid #4e4e4e;
}
#theater div{
    clear: both;
}
#theater div ul{
    float: left;
    margin: 20px 10px;
}
#theater div ul:first-child{
    margin-left: 40px;
}
#theater div ul li{
    float: left;
}
#theater div ul li{
    background-color: white;
    border: 1px solid rgb(145, 144, 144);
    border-radius: 15px;
}
#theater div ul:hover li{
    background-color: orangered;
    border: 1px solid transparent;
}
/* 전체버튼 */
#theater div .all{
    width: 80px;
    height: 40px;
}
#theater div .all li span{
    display: block;
    height: 40px;
    width: 80px;
    line-height: 40px;
    text-align: center;
    color: rgb(145, 144, 144);
}

#theater div ul:hover li span{
    color: white;
}

/* 대극장버튼 */
#theater div .theater1{
    width: 90px;
    height: 40px;
}
#theater div .theater1 span{
    display: block;
    height: 40px;
    width: 90px;
    line-height: 40px;
    text-align: center;
    color: rgb(145, 144, 144);
}
/* 세종 s시어터 버튼 */
#theater div .theater2{
    width: 115px;
    height: 40px;
}
#theater div .theater2 span{
    display: block;
    height: 40px;
    width: 115px;
    line-height: 40px;
    text-align: center;
    color: rgb(145, 144, 144);
}
/* 세종 m시어터 버튼 */
#theater div .theater3{
    width: 115px;
    height: 40px;
}
#theater div .theater3 span{
    display: block;
    height: 40px;
    width: 115px;
    line-height: 40px;
    text-align: center;
    color: rgb(145, 144, 144);
}
/* 세종미술관 버튼 */
#theater div .theater4{
    width: 160px;
    height: 40px;
}
#theater div .theater4 span{
    display: block;
    height: 40px;
    width: 160px;
    line-height: 40px;
    text-align: center;
    color: rgb(145, 144, 144);
}
/* 검색버튼 */
#theater .search{
    margin-left: 50px;
    position: relative;
    width: 580px;
}
#theater .search input{
    width: 100%;
    border: 1px solid rgb(145, 144, 144);
    padding: 10px 12px;
}
#theater .search img{
    position: absolute;
    width: 30px;
    height: 100%;
    border: 0;
    float: right;
    background-color: rgb(145, 144, 144);
    top: 0;
    right: -30px;
    margin: 0;
}

/* 예매 상세1 */
#board1{
    width: 1392px;
    height: 414px;
    margin: 0 auto;
    border-bottom: 2px solid #4e4e4e;
}
#board1 ul{
    padding: 55px 10px;
    position: relative;
}
#board1 ul li{
    float: left;
    margin-left: 30px;
}
#board1 ul li span{
    margin-right: 20px;
    line-height: 3;
}
#board1 ul li .tit{
    font-weight: bold;
}
#board1 ul li .rec1{
    display: block;
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: rgb(13, 175, 13);
    color: white;
    line-height: 70px;
    left: 1270px;
    text-align: center;
}
#board1 ul li .look{
    display: block;
    position: absolute;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid #7c7c7c;
    background-color: #d8d8d8;
    top: 300px;
    left: 1025px;
    text-align: center;
    cursor: pointer;
}
#board1 ul li .reserve{
    display: block;
    position: absolute;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid #7c7c7c;
    background-color: white;
    top: 300px;
    left: 1190px;
    text-align: center;
    cursor: pointer;

}


/* 예매 상세2 */
#board2{
    width: 1392px;
    height: 414px;
    margin: 0 auto;
    border-bottom: 2px solid #4e4e4e;
}
#board2 ul{
    padding: 55px 10px;
    position: relative;
}
#board2 ul li{
    float: left;
    margin-left: 30px;
}
#board2 ul li span{
    margin-right: 20px;
    line-height: 3;
}
#board2 ul li .tit{
    font-weight: bold;
}
#board2 ul li .rec1{
    display: block;
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: rgb(89, 13, 175);
    color: white;
    line-height: 70px;
    left: 1270px;
    text-align: center;
}
#board2 ul li .look{
    display: block;
    position: absolute;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid #7c7c7c;
    background-color: #d8d8d8;
    top: 300px;
    left: 1025px;
    text-align: center;
    cursor: pointer;
}
#board2 ul li .reserve{
    display: block;
    position: absolute;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid #7c7c7c;
    background-color: white;
    top: 300px;
    left: 1190px;
    text-align: center;
    cursor: pointer;
}


/* 예매 상세3 */
#board3{
    width: 1392px;
    height: 414px;
    margin: 0 auto;
    border-bottom: 2px solid #4e4e4e;
}
#board3 ul{
    padding: 55px 10px;
    position: relative;
}
#board3 ul li{
    float: left;
    margin-left: 30px;
}
#board3 ul li span{
    margin-right: 20px;
    line-height: 3;
}
#board3 ul li .tit{
    font-weight: bold;
}
#board3 ul li .rec1{
    display: block;
    position: absolute;
    width: 140px;
    height: 70px;
    /* background-color: rgb(13, 156, 175); */
    color: white;
    line-height: 70px;
    left: 1200px;
    text-align: center;
}
#board3 ul li .look{
    display: block;
    position: absolute;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid #7c7c7c;
    background-color: #d8d8d8;
    top: 300px;
    left: 1025px;
    text-align: center;
    cursor: pointer;
}
#board3 ul li .reserve{
    display: block;
    position: absolute;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid #7c7c7c;
    background-color: white;
    top: 300px;
    left: 1190px;
    text-align: center;
    cursor: pointer;
}


/* 예매 상세4 */
#board4{
    width: 1392px;
    height: 414px;
    margin: 0 auto;
    border-bottom: 2px solid #4e4e4e;
}
#board4 ul{
    padding: 55px 10px;
    position: relative;
}
#board4 ul li{
    float: left;
    margin-left: 30px;
}
#board4 ul li span{
    margin-right: 20px;
    line-height: 3;
}
#board4 ul li .tit{
    font-weight: bold;
}
#board4 ul li .rec1{
    display: block;
    position: absolute;
    width: 140px;
    height: 70px;
    background-color: rgb(216, 124, 18);
    color: white;
    line-height: 70px;
    left: 1200px;
    text-align: center;
}
#board4 ul li .look{
    display: block;
    position: absolute;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid #7c7c7c;
    background-color: #d8d8d8;
    top: 300px;
    left: 1025px;
    text-align: center;
    cursor: pointer;
}
#board4 ul li .reserve{
    display: block;
    position: absolute;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    border: 1px solid #7c7c7c;
    background-color: white;
    top: 300px;
    left: 1190px;
    text-align: center;
    cursor: pointer;
}
#number{
    width: 1392px;
    height: 95px;
    margin: 0 auto;
}
#number div{
    padding: 0 600px;
}
#number div span{
    margin: 7px;
    float: left;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: #ffffff;
    text-align: center;
    line-height: 30px;
    font-size: large;
    border: #4e4e4e 1px solid;
    cursor: pointer;
}
#number div span:hover{
    background-color: #4e4e4e;
    color: white;
}
#number div img{
    margin-top: 15px;
}

/* 푸터 */
#footer{
    position: relative;
    width: 100%;
}
#footer #footer_wrap{
    position: absolute;
    bottom: 2px;
    height: 40px; 
    width: 100%;
    overflow: hidden;
    transition: height 0.4s;
    background-color: white;
}

#footer:hover .footer1{
    display: none;
}

#footer .footer1{
    width: 100%;
    height: 40px;
    background-color: rgb(82, 82, 82);
}
#footer .footer1 li{
    color: white;
    margin: 10px; 
}
#footer ul li{
    float: left;
}
#footer ul .footer1_1{
    width: 907px;
    height: 40px;
    margin-left: 350px;
}
#footer ul .footer1_2{
    width: 152px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid white;
    border-top: none;
    border-bottom: none;
    box-sizing: border-box;
    margin-top: 0;
}
#footer .footer2 li{
    margin: 0 10px; 
}
#footer .footer2{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color:rgb(224, 224, 224);
}
#footer ul .footer2_1{
    width: 907px;
    height: 40px;
    margin-left: 350px;
}
#footer ul .footer2_2{
    width: 152px;
    height: 40px;
    text-align: center;
}